<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Register</title>
    <style>
        .vs{border: 1px solid #eddfdf;
    border-radius: 10px;
    padding: 15px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;}
    </style>
</head>
<body style="background-image:url('https://1stoporders.com/cdn/shop/t/6/assets/image_slide_1.jpg?v=101939832606490915601555423554');">

<div class="container">

    <div class="row">

        <div class="col-sm-3">

        </div>
        <div class="col-sm-6 vs" style="top: 20%;
    position: absolute;
    left: 30%;
    width: 35%;">
             {% for msg in messages  %}
  <h3 style="    text-align: center;">Your Order is Confirmed</h3>
     {% endfor %}


<form action="main" method="post">
    {% csrf_token %}

<div style="width:100%;text-align:center;">

    <input type="submit" name="Home Page" style="width: 150px;" value="Home Page" class="btn btn-success">
               </div>


</form>
        </div>
        <div class="col-sm-3">

        </div>



    </div>

</div>

</body>
</html>